# BEGIN WordPress
<IfModule mod_rewrite.c>
RewriteEngine on


RewriteCond %{THE_REQUEST} /([^.]+)\.shtml [NC]
RewriteRule ^ /%1 [NC,L,R]

RewriteCond %{REQUEST_FILENAME}.shtml -f
RewriteRule ^ %{REQUEST_URI}.shtml [NC,L]
</IfModule>
# END WordPres


