header nav ul li:hover>ul {
    display: block;
}

header nav ul li ul {
    position: absolute;
    display: none;
    top: 100%;
    left: 0;
}

header nav ul ul li {
    width: 100%;
}

header nav ul ul li a {
    background-color: #f0f0f0;
    color: #000;
}

#menu-bar ul {
    position: relative;
}