/*.u-section-1 .u-sheet-1 {
  min-height: 1003px;
}
*/
.data-info {
  margin-top: 1000px; /* or however much space you want */
}


#table_id_wrapper {
  min-height: 1000px; /* you can adjust this value to suit your needs */
}